DOMAINS=trans-akka.ml -> http://trans
STAGE=production
# FORCE_RENEW=true

# Disable checking request body size
# (from: https://github.com/SteveLTN/https-portal/tree/273ed46185e4acfa6beb21719b284752aaa22cb3#configure-nginx-through-environment-variables)
CLIENT_MAX_BODY_SIZE=0
